In [10]:
import pandas as pd
 
train = pd.read_csv(r'https://raw.githubusercontent.com/Med-Cabinet-Project/DS/master/web_app/stats_model/strains.csv', header='infer', sep=',')
train.head()

,Unnamed: 0,name,race,medical,positive,negative,flavors
0,0,Afpak,hybrid,"Depression,Insomnia,Pain,Stress,Lack of Appetite","Relaxed,Hungry,Happy,Sleepy",Dizzy,"Earthy,Chemical,Pine"
1,1,African,sativa,"Depression,Pain,Stress,Lack of Appetite,Nausea...","Euphoric,Happy,Creative,Energetic,Talkative",Dry Mouth,"Spicy/Herbal,Pungent,Earthy"
2,2,Afternoon Delight,hybrid,"Depression,Insomnia,Pain,Stress,Cramps,Headache","Relaxed,Hungry,Euphoric,Uplifted,Tingly","Dizzy,Dry Mouth,Paranoid","Pepper,Flowery,Pine"
3,3,Afwreck,hybrid,"Pain,Stress,Headache,Fatigue,Headaches,Muscle ...","Relaxed,Happy,Creative,Uplifted,Sleepy","Dizzy,Dry Mouth,Paranoid,Dry Eyes","Pine,Earthy,Flowery"
4,4,Agent Orange,hybrid,"Depression,Pain,Stress,Nausea,Headache,Headaches","Relaxed,Euphoric,Happy,Energetic,Uplifted","Dizzy,Dry Mouth,Paranoid,Dry Eyes","Citrus,Orange,Sweet"

In [11]:
train.describe(exclude='number')

,name,race,medical,positive,negative,flavors
count,1970,1970,1916,1968,1582,1970
unique,1970,3,503,477,31,1169
top,"G Stik ""Orange""",hybrid,"Depression,Insomnia,Pain,Stress,Lack of Appetite","Relaxed,Euphoric,Happy,Uplifted,Sleepy","Dizzy,Dry Mouth,Paranoid,Dry Eyes","Earthy,Sweet,Pungent"
freq,1,1004,98,129,299,26

In [32]:
x = train.medical.str.split('\s*,\s*', expand=True).stack()
pd.crosstab(x.index.get_level_values(0), x.values).iloc[:, 1:]

col_0,Depression,Eye Pressure,Fatigue,Headache,Headaches,Inflammation,Insomnia,Lack of Appetite,Muscle Spasms,Nausea,Pain,Seizures,Spasticity,Stress
row_0,,,,,,,,,,,,,,
0,1,0,0,0,0,0,1,1,0,0,1,0,0,1
1,1,0,0,1,0,0,0,1,0,1,1,0,0,1
2,1,0,0,1,0,0,1,0,0,0,1,0,0,1
3,0,0,1,1,1,0,0,0,1,0,1,0,0,1
4,1,0,0,1,1,0,0,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,1,0,1,0,0,0,1,0,0,0,1,0,0,1
1966,1,0,0,1,0,0,1,0,0,1,1,0,0,1
1967,1,0,0,1,0,0,1,1,0,0,1,0,0,1
1968,0,0,0,0,0,0,1,1,1,0,1,0,0,0
1969,1,0,1,0,0,0,0,0,0,0,0,0,0,1

In [35]:
x = train.positive.str.split('\s*,\s*', expand=True).stack()
pd.crosstab(x.index.get_level_values(0), x.values).iloc[:, 1:]

col_0,Creative,Energetic,Euphoric,Focused,Giggly,Happy,Hungry,Relaxed,Sleepy,Talkative,Tingly,Uplifted
row_0,,,,,,,,,,,,
0,0,0,0,0,0,1,1,1,1,0,0,0
1,1,1,1,0,0,1,0,0,0,1,0,0
2,0,0,1,0,0,0,1,1,0,0,1,1
3,1,0,0,0,0,1,0,1,1,0,0,1
4,0,1,1,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1965,0,1,0,1,0,1,0,1,0,0,0,1
1966,0,0,1,0,0,1,0,1,1,0,0,1
1967,0,0,1,0,1,1,0,1,1,0,0,0
1968,0,0,0,0,1,1,1,1,0,0,0,1
1969,1,1,1,0,0,1,0,0,0,0,0,0

In [36]:
x = train.negative.str.split('\s*,\s*', expand=True).stack()
pd.crosstab(x.index.get_level_values(0), x.values).iloc[:, 1:]

col_0  Dizzy  Dry Eyes  Dry Mouth  Paranoid
row_0
0          1         0          0         0
1          0         0          1         0
2          1         0          1         1
3          1         1          1         1
4          1         1          1         1
...      ...       ...        ...       ...
1964       1         0          0         0
1965       1         1          1         1
1966       1         1          1         0
1967       1         1          1         1
1969       1         0          1         1

[1582 rows x 4 columns]

In [34]:
x = train.flavors.str.split('\s*,\s*', expand=True).stack()
pd.crosstab(x.index.get_level_values(0), x.values).iloc[:, 1:]

col_0,Apple,Apricot,Berry,Blue Cheese,Blueberry,Butter,Cheese,Chemical,Chestnut,Citrus,...,Strawberry,Sweet,Tar,Tea,Tobacco,Tree Fruit,Tropical,Vanilla,Violet,Woody
row_0,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1966,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1967,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1968,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1969,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [22]:
pd.get_dummies(train)

,Unnamed: 0,name_Afpak,name_African,name_Afternoon Delight,name_Afwreck,name_Agent Orange,name_Agent Tangie,name_Alaska,name_Alaska Thunder Grape,name_Alaskan Ice,...,"flavors_Woody,Pine,Earthy","flavors_Woody,Pine,Pungent","flavors_Woody,Pine,Spicy/Herbal","flavors_Woody,Pine,Sweet","flavors_Woody,Pungent,Earthy","flavors_Woody,Pungent,Sweet","flavors_Woody,Skunk,Earthy","flavors_Woody,Sweet,Berry","flavors_Woody,Sweet,Diesel","flavors_Woody,Sweet,Earthy"
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,1965,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1966,1966,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1967,1967,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1968,1968,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1969,1969,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0