In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 10)

/Users/jisha/.pyenv/versions/3.8.6/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
missing = pd.read_csv('files/missing_schools.csv')

In [3]:
print(missing.shape)
missing.head()

(8941, 10)

,Unnamed: 0,School,Score,Rating,Address,Type,Grades,Total Students Enrolled,Students per teacher,District
0,0,Jones College Prep High School,10/10,Top rated,"700 South State Street, Chicago, IL, 60605",Public district,9-12,1861.0,17:1,City Of Chicago School District 299
1,1,Northside College Preparatory High School,10/10,Top rated,"5501 North Kedzie Avenue, Chicago, IL, 60625",Public district,9-12,1061.0,16:1,City Of Chicago School District 299
2,2,Payton College Preparatory High School,10/10,Top rated,"1034 North Wells Street, Chicago, IL, 60610",Public district,9-12,1073.0,15:1,City Of Chicago School District 299
3,3,Devry Advantage Academy High School,10/10,Top rated,"3300 North Campbell Avenue, Chicago, IL, 60618",Public district,11-12,193.0,18:1,City Of Chicago School District 299
4,4,Westinghouse High School,9/10,Above average,"3223 West Franklin Boulevard, Chicago, IL, 60624",Public district,9-12,1192.0,16:1,City Of Chicago School District 299

In [4]:
# Adresses
missing['Address'] = missing['Address'].str.replace('5115 North Mont Clare Avenue Chicago, IL 60656, Chicago, IL, 60656', '5115 North Mont Clare Avenue, Chicago, IL, 60656')
missing['Address'] = missing['Address'].str.replace('11000 Scott St, Houston, Houston, TX, 77047', '11000 Scott St, Houston, TX, 77047')
missing['Address'] = missing['Address'].str.replace('3911 Campbell Rd., Ho, Houston, TX, 77080', '3911 Campbell Rd., Houston, TX, 77080')
missing['Address'] = missing['Address'].str.replace('8805 Ferndale, Houston, Houston, TX, 77017', '8805 Ferndale, Houston, TX, 77017')
missing['Address'] = missing['Address'].str.replace('4240 E. Olympic Blvd. Los Angeles, CA 90023, Los Angeles, CA, 90063', '4240 E. Olympic Blvd., Los Angeles, CA, 90023')
missing['Address'] = missing['Address'].str.replace('1263 S Soto St Los Angeles, CA 90023 , Los Angeles, CA, 90031', '1263 S Soto St, Los Angeles, CA, 90023')
missing['Address'] = missing['Address'].str.replace('95 NW 23rd St Miami, FL 33127, Miami, FL, 33137', '95 NW 23rd St, Miami, FL, 33127')
missing['Address'] = missing['Address'].str.replace('12101 SW 34 St. MIAMI, FL. 33175, Miami, FL, 33175', '12101 SW 34 St., Miami, FL, 33175')
missing['Address'] = missing['Address'].str.replace('332 West 43rd Street, New York NY 10036, New York, NY, 10025', '332 West 43rd Street, New York, NY, 10025')
missing['Address'] = missing['Address'].str.replace('120 Wadsworth Avenue New York, N.Y. 10033, New York, NY, 10033', '120 Wadsworth Avenue, New York, NY, 10033')
missing['Address'] = missing['Address'].str.replace('5311 Merlin Dr San Antonio, Texas 78218, San Antonio, TX, 78218', '5311 Merlin Dr, San Antonio, TX, 78218')
missing['Address'] = missing['Address'].str.replace('8565 Ewing Halsell Drive San Antonio, Texas 78229, San Antonio, TX, 78229', '8565 Ewing Halsell Drive, San Antonio, TX, 78229')
missing['Address'] = missing['Address'].str.replace('4419 S Normandie Ave La, Ca 90037, Los Angeles, CA, 90007', '4419 S Normandie Ave, Los Angeles, CA, 90037')

missing['Address'] = missing['Address'].str.replace('2521 Grove Street, Blue Island, IL 60406, Chicago, IL, 60643', '2521 Grove Street, Blue Island, IL, 60406')
missing['Address'] = missing['Address'].str.replace('1913 Southwest Fwy #B, Houston, TX 77098, Houston, TX, 77030', '1913 Southwest Fwy #B, Houston, TX, 77098')
missing['Address'] = missing['Address'].str.replace('4009 Sherwood Lane, Houston, TX 77092, Houston, TX, 77092', '4009 Sherwood Lane, Houston, TX, 77092')
missing['Address'] = missing['Address'].str.replace('1600 W. Imperial Highway, Los Angeles, CA 90047, Los Angeles, CA, 90045', '1600 W. Imperial Highway, Los Angeles, CA, 90047')
missing['Address'] = missing['Address'].str.replace('131 E. 50th Street, Los Angles, CA 90011, Los Angeles, CA, 90011', '131 E. 50th Street, Los Angeles, CA, 90011')
missing['Address'] = missing['Address'].str.replace('4301 West Martin Luther King Jr. Boulevard, Los Angeles, CA 90008, Los Angeles, CA, 90016', '4301 West Martin Luther King Jr. Boulevard, Los Angeles, CA, 90008')
missing['Address'] = missing['Address'].str.replace('8515 Kansas Avenue, Los Angeles, CA 90044, Los Angeles, CA, 90047', '8515 Kansas Avenue, Los Angeles, CA, 90044')
missing['Address'] = missing['Address'].str.replace('1989 Westwood Blvd, LA, CA 90025, Los Angeles, CA, 90025', '1989 Westwood Blvd, Los Angeles, CA, 90025')
missing['Address'] = missing['Address'].str.replace('6601 NW 167th St, Hialeah, FL 33015, Miami, FL, 33015', '6601 NW 167th St, Hialeah, FL, 33015')
missing['Address'] = missing['Address'].str.replace('7412 Sunset Drive, Miami, FL 33143, Miami, FL, 33176', '7412 Sunset Drive, Miami, FL, 33143')
missing['Address'] = missing['Address'].str.replace('259 10th Avenue, New York, NY 10001, New York, NY, 10001', '259 10th Avenue, New York, NY, 10001')

missing['Address'] = missing['Address'].str.replace('2212 Third Avenue, 2nd Floor, New York, NY 10035, New York, NY, 10065', '2212 Third Avenue, 2nd Floor, New York, NY, 10035')

missing['Address'] = missing['Address'].str.replace('10126 South Western, CHICAGO, IL, 60643', '10126 South Western, Chicago, IL, 60643')
missing['Address'] = missing['Address'].str.replace('38 delancey st., new york, NY, 10002', '38 Delancey St., New York, NY, 10002')
missing['Address'] = missing['Address'].str.replace('40 Rector Street, new york, NY, 10006', '40 Rector Street, New York, NY, 10006')

# specific
missing.at[3886, 'Address'] = '4240 E. Olympic Blvd., Los Angeles, CA, 90023'

### Split Address Column

In [5]:
missing['City, State'] = missing['Address'].str.split(',')

### Create Lengths to find discrepancies in Address column

In [6]:
# Finding length because there are anomalies with the information in the address column
missing['Length'] = missing['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 4 is the expected length 
missing['Length'].unique()

array([4, 5, 6])

### Create City, State column

In [7]:
missing['City']  = missing['City, State'].str[-3]

In [8]:
missing['State']  = missing['City, State'].str[-2]

### Check for Unique Cities 
- should be about 5 (maybe slightly more after cleaning addresses)

In [9]:
print(missing['City'].nunique())
missing['City'].unique()

8

array([' Chicago', ' Blue Island', ' Houston', ' Los Angeles', ' Miami',
       ' Hialeah', ' New York', ' San Antonio'], dtype=object)

### Check for Unique States
- expecting 5

In [10]:
print(missing['State'].nunique())
missing['State'].unique()

5

array([' IL', ' TX', ' CA', ' FL', ' NY'], dtype=object)

### Update School Scores

In [11]:
missing['Score'] = missing['Score'].str.replace('/10', '')
missing['Score'] = missing['Score'].astype(int)

### Filling NaNs

In [12]:
missing.isna().sum()

Unnamed: 0        0
School            0
Score             0
Rating            0
Address           0
               ...
District       5850
City, State       0
Length            0
City              0
State             0
Length: 14, dtype: int64

In [13]:
missing[['Total Students Enrolled', 'Students per teacher']] = missing[['Total Students Enrolled', 'Students per teacher']].fillna(0)

In [14]:
missing['District'] = missing['District'].fillna('Unavailable')

In [15]:
missing.isna().sum()

Unnamed: 0     0
School         0
Score          0
Rating         0
Address        0
              ..
District       0
City, State    0
Length         0
City           0
State          0
Length: 14, dtype: int64

### Can Drop City, State and Length Columns

In [16]:
missing = missing.drop(columns = ['City, State', 'Length'])

### Separate into PK, Elementary, Middle, High School

In [17]:
def parse_grades(grades_string):
    GRADES = ['PK', 'K', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'Ungraded']

    # Remove & for grades list
    grades_string = grades_string.replace(' &', ',')

    # Grades list - will add to separated grade string to grades
    grades = []

    # split strings based on ','
    string_list = grades_string.split(',')

    # look for sections of list with '-'
    dash = "-"
    for i in range(len(string_list)):
        clean_string = string_list[i].strip()
        if dash in clean_string:
            #  split using '-', loop and add to grades variable
            start_grade, end_grade = clean_string.split(dash)
            grades += GRADES[GRADES.index(start_grade) : GRADES.index(end_grade)+ 1]
        else:
            # add string to grades
            grades.append(clean_string)

    return grades

In [18]:
print(missing['Grades'].nunique())
unique_grades_combination  = missing['Grades'].unique()

134

In [19]:
def test_complete_dataset(unique_grades_combination):
    # create a loop that goes thru dataset and invoke parse_grades with each element
    separated_grades_list = []
    for i in unique_grades_combination:
        separated_grades_list.append(parse_grades(i))

    dictionary_grade_list = dict(zip(unique_grades_combination, separated_grades_list))

    return dictionary_grade_list

In [20]:
dictionary = test_complete_dataset(unique_grades_combination)

In [21]:
missing['Clean_Grades'] = missing['Grades'].map(dictionary)

In [23]:
# https://stackoverflow.com/questions/53350793/how-to-check-if-pandas-column-has-value-from-list-of-string

In [24]:
high_school = ['9', '10', '11', '12']
middle_school = ['6', '7', '8']
elementary = ['K', '1', '2', '3', '4', '5']
pre_k = ['PK']

In [25]:
set1 = set(high_school)
missing['High School (9-12)'] = missing['Clean_Grades'].apply(lambda x: any([k in x for k in set1]))

In [26]:
set2 = set(middle_school)
missing['Middle School (6-8)'] = missing['Clean_Grades'].apply(lambda x: any([k in x for k in set2]))

In [27]:
set3 = set(elementary)
missing['Elementary (K-5)'] = missing['Clean_Grades'].apply(lambda x: any([k in x for k in set3]))

In [28]:
set4 = set(pre_k)
missing['Pre-Kindergarten (PK)'] = missing['Clean_Grades'].apply(lambda x: any([k in x for k in set4]))

In [29]:
missing[['High School (9-12)', 'Middle School (6-8)', 'Elementary (K-5)', 'Pre-Kindergarten (PK)']] = missing[['High School (9-12)', 'Middle School (6-8)', 'Elementary (K-5)', 'Pre-Kindergarten (PK)']] * 1

In [30]:
missing['Grades'] = missing['Grades'].str.replace(' & Ungraded', '')

In [35]:
missing.loc[missing['Grades'] == 'PK-3, 5-8']

,Unnamed: 0,School,Score,Rating,Address,Type,Grades,Total Students Enrolled,Students per teacher,District,City,State,Clean_Grades,High School (9-12),Middle School (6-8),Elementary (K-5),Pre-Kindergarten (PK)
1266,1266,Learning Network,0,Currently unrated,"5911 West Midway Park, Chicago, IL, 60644",Private,"PK-3, 5-8",0.0,NaN,Unavailable,Chicago,IL,"[PK, K, 1, 2, 3, 5, 6, 7, 8]",0,1,1,1

### Clean Extra Spaces

In [22]:
missing['City'] = missing['City'].str.strip()
missing['State'] = missing['State'].str.strip()
missing['Address'] = missing['Address'].str.strip()
missing['School'] = missing['School'].str.strip()
missing['Rating'] = missing['Rating'].str.strip()
missing['Address'] = missing['Address'].str.strip()
missing['Type'] = missing['Type'].str.strip()
missing['Grades'] = missing['Grades'].str.strip()
missing['Students per teacher'] = missing['Students per teacher'].str.strip()
missing['District'] = missing['District'].str.strip()