## Clean Schools.csv
1. Split address column
2. Look at length - this displays discrepancies in addresses (looking for lengths 1, 3, 4)
3. Create a city and state column - consistency with other data
4. Create columns for schools categories - pk, k, elementary, middle, and high school
5. Make score column an int

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 10)

/Users/jisha/.pyenv/versions/3.8.6/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv('csv/schools.csv')

In [3]:
print(df.shape)
df.head()

(58782, 10)

,Unnamed: 0,School,Score,Rating,Address,Type,Grades,Total Students Enrolled,Students per teacher,District
0,0,Akron Early College High School,10/10,Top rated,"225 South Main Street, Akron, OH, 44308",Public district,9-12,384.0,34:1,Akron City School District
1,1,Revere Middle School,9/10,Above average,"3195 Spring Valley Road, Akron, OH, 44333",Public district,6-8,624.0,13:1,Revere Local School District
2,2,Arrowhead Primary Elementary School,8/10,Above average,"1600 Raleigh Boulevard, Akron, OH, 44321",Public district,K-4,345.0,20:1,Copley-Fairlawn City School District
3,3,Manchester Middle School,8/10,Above average,"760 West Nimisila Road, Akron, OH, 44319",Public district,5-8,387.0,16:1,Manchester Local School District
4,4,Nolley Elementary School,8/10,Above average,"6285 Renninger Rd, Akron, OH, 44319",Public district,K-4,483.0,17:1,Manchester Local School District

## 1. Split Address Column

In [4]:
df['City, State']  = df['Address'].str.split(',')

## 2. Create lengths to find discrepancies in 'Address' column

In [5]:
# Finding length because there are anomalies with the information in the address column
df['Length'] = df['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 4 is the expected length 
df['Length'].unique()

array([4, 5, 6, 7, 1])

## Cleaning

In [ ]:
df['Address'] = df['Address'].str.replace('2100 Morse Road, Suite 4609, Columbus, OH 43229, Columbus, OH, 43211', '2100 Morse Road, Suite 4609, Columbus, OH 43229')
df['Address'] = df['Address'].str.replace('2501 Syracuse Street, Denver, Colorado, 80238, Denver, CO, 80238', '2501 Syracuse Street, Denver, Colorado, 80238')
df['Address'] = df['Address'].str.replace('1018 Harding Street, Suite 112, Lafayette, La 70503, Lafayette, LA, 70507', '1018 Harding Street, Suite 112, Lafayette, LA 70503')
df['Address'] = df['Address'].str.replace('4450 West Eau Gallie Boulevard, Suite 180, Melbourne, FL 32934, Melbourne, FL, 32934', '4450 West Eau Gallie Boulevard, Suite 180, Melbourne, FL 32934')
df['Address'] = df['Address'].str.replace('4530 MacArthur Blvd, NW, Washington, DC, Washington, DC, 20007', '4530 MacArthur Blvd, NW, Washington, DC, 20007')
df['Address'] = df['Address'].str.replace('1075 New Scotland Road, Albany NY 12208, Albany, NY, 12208', '1075 New Scotland Road, Albany NY 12208')
df['Address'] = df['Address'].str.replace('216 Shelburne Road Asheville, NC 28806, Asheville, NC, 28806', '216 Shelburne Road, Asheville, NC 28806')
df['Address'] = df['Address'].str.replace('26450 RR 12 Dripping Springs, TX 78620, Austin, TX, 78736', '26450 RR 12, Dripping Springs, TX 78620')
df['Address'] = df['Address'].str.replace('NE Stoneridge Loop, Prineville OR 97754, Bend, OR, 97702', 'NE Stoneridge Loop, Prineville OR 97754')
df['Address'] = df['Address'].str.replace('5225 - Seventy seven Center Dr, Charlotte NC 28217, Charlotte, NC, 28217', '5225 77 Center Dr, Charlotte, NC 28217')
df['Address'] = df['Address'].str.replace('3375 W. 99th Street Cleveland, OH 44102, Cleveland, OH, 44111', '3375 W. 99th Street, Cleveland, OH 44102')
df['Address'] = df['Address'].str.replace('21 Broadmoor Avenue Colorado Springs, CO 80906, Colorado Springs, CO, 80906', '21 Broadmoor Avenue, Colorado Springs, CO 80906')
df['Address'] = df['Address'].str.replace('220 Stoneridge Drive Suite 403 Columbia, SC 29210 , Columbia, SC, 29210', '220 Stoneridge Drive, Suite 403, Columbia, SC 29210')
df['Address'] = df['Address'].str.replace('2247 South Ridgewood South Daytona, Florida 32119, Daytona Beach, FL, 32117', '2247 South Ridgewood, South Daytona, FL 32119')
df['Address'] = df['Address'].str.replace('7005 Woodbine Ave Sacramento, Ca. 95822, Fairfield, CA, 94534', '7005 Woodbine Ave, Sacramento, CA 95822')
df['Address'] = df['Address'].str.replace('4424 Innovation Drive Fort Collins, Colorado 80525, Fort Collins, CO, 80525', '4424 Innovation Drive, Fort Collins, CO 80525')
df['Address'] = df['Address'].str.replace('5300 El Camino Road Las Vegas, NV 89118, Henderson, NV, 89014', '5300 El Camino Road, Las Vegas, NV 89118')
df['Address'] = df['Address'].str.replace('9039 Beach Blvd Jacksonville, FL 32216, Jacksonville, FL, 32207', '9039 Beach Blvd, Jacksonville, FL 32216')
df['Address'] = df['Address'].str.replace('390 New Holland Pike, Lancaster PA 17601, Lancaster, PA, 17601', '390 New Holland Pike, Lancaster PA 17601')
df['Address'] = df['Address'].str.replace('4801. S. Sandhill Drive LV, NV 89121, Las Vegas, NV, 89123', '4801. S. Sandhill Drive, Las Vegas, NV, 89123')
df['Address'] = df['Address'].str.replace('2727 Stinson Blvd. NE Minneapolis, MN 55418, Minneapolis, MN, 55418', '2727 Stinson Blvd. NE, Minneapolis, MN, 55418')
df['Address'] = df['Address'].str.replace('3000 53rd St SW Naples, FL 34116, Naples, FL, 34116', '3000 53rd St SW, Naples, FL 34116')
df['Address'] = df['Address'].str.replace('177 W Klein Rd. New Braunfels, TX 78130, New Braunfels, TX, 78130', '177 W Klein Rd., New Braunfels, TX 78130')
df['Address'] = df['Address'].str.replace('500 Soraparu St. New Orleans, La 70130, New Orleans, LA, 70130', '500 Soraparu St., New Orleans, LA 70130')
df['Address'] = df['Address'].str.replace('2162 Mountain Blvd, Oakland CA 94611, Oakland, CA, 94605', '2162 Mountain Blvd, Oakland CA 94611')
df['Address'] = df['Address'].str.replace('13231 N. 22nd St. Phoenix, AZ 85022, Phoenix, AZ, 85028', '13231 N. 22nd St., Phoenix, AZ 85022')
df['Address'] = df['Address'].str.replace('14124 SE Mill St, Portland OR 97233, Portland, OR, 97266', '14124 SE Mill St, Portland OR 97233')
df['Address'] = df['Address'].str.replace('555 Double Eagle Ct. Suite 2000 Reno, NV 89521 , Reno, NV, 89521', '555 Double Eagle Ct., Suite 2000, Reno, NV 89521')
df['Address'] = df['Address'].str.replace('3422 Rustin Ave Riverside, CA 92507, Riverside, CA, 92504', '3422 Rustin Ave Riverside, CA 92507')
df['Address'] = df['Address'].str.replace('2800 19th Stree NW Rochester, MN 55901, Rochester, MN, 55902', '2800 19th Stree NW, Rochester, MN 55901')
df['Address'] = df['Address'].str.replace('9510 Carmel Mountain Road, San Diego CA 92129, San Diego, CA, 92129', '9510 Carmel Mountain Road, San Diego CA 92129')
df['Address'] = df['Address'].str.replace('5531 Cancha De Golf Ste 202 Rancho Santa Fe, CA 92091, San Diego, CA, 92130', '5531 Cancha de Golf, Ste 202, Rancho, Santa Fe, CA 92091')
df['Address'] = df['Address'].str.replace('6540 Flanders Drive. San Diego, CA 92121, San Diego, CA, 92127', '6540 Flanders Drive., San Diego, CA 92121')
df['Address'] = df['Address'].str.replace('725 Washington St. Santa Clara, Ca 95050, Santa Clara, CA, 95050', '725 Washington St., Santa Clara, CA, 95050')
df['Address'] = df['Address'].str.replace('6715 S Boe Lane Sioux Falls, SD 57108, Sioux Falls, SD, 57105', '6715 S Boe Lane, Sioux Falls, SD 57108')
df['Address'] = df['Address'].str.replace('8740 Asheville Hwy Spartanburg, S.C. 29316, Spartanburg, SC, 29316', '8740 Asheville Hwy, Spartanburg, SC 29316')
df['Address'] = df['Address'].str.replace('12611 N. Wilson St. Mead, WA 99021, Spokane, WA, 99218', '12611 N. Wilson St., Mead, WA 99021')
df['Address'] = df['Address'].str.replace('1450 Newfield Avenue Stamford, CT 06905, Stamford, CT, 06905', '1450 Newfield Avenue, Stamford, CT 06905')
df['Address'] = df['Address'].str.replace('2525 Gold Brook Dr Stockton, CA 95212, Stockton, CA, 95212', '2525 Gold Brook Dr, Stockton, CA 95212')
df['Address'] = df['Address'].str.replace('1112 North G Street | Tacoma, WA 98403, Tacoma, WA, 98403', '1112 North G Street, Tacoma, WA 98403')
df['Address'] = df['Address'].str.replace('1250 Erbes Rd. Thousand Oaks, CA 91362, Thousand Oaks, CA, 91302', '1250 Erbes Rd., Thousand Oaks, CA 91362')
df['Address'] = df['Address'].str.replace('3201 N. Eastman Rd. Longview, TX 75605, Tyler, TX, 75799', '3201 N. Eastman Rd., Longview, TX 75605')
df['Address'] = df['Address'].str.replace('St. Catherine of Siena School, 3460 Tennessee Street, Vallejo, CA, 94591', '3460 Tennessee Street, Vallejo, CA, 94591')
df['Address'] = df['Address'].str.replace('1650 Godfrey Ave. Wyoming,Mi 49509 , Wyoming, MI, 49509', '1650 Godfrey Ave., Wyoming, MI 49509' )
df['Address'] = df['Address'].str.replace('3422 Rustin Ave Riverside, CA 92507', '3422 Rustin Ave, Riverside, CA 92507')
df['Address'] = df['Address'].str.replace('1018 Harding Street, Suite 112, Lafayette, La 70503, Lafayette, LA 70507', '1018 Harding Street, Suite 112, Lafayette, LA 70503') # 27205
df['Address'] = df['Address'].str.replace('San Martin De Porres Clinic: Kallumadanda Vinnie MD Mission, TX 78572', 'San Martin De Porres Clinic: Kallumadanda Vinnie MD, Mission, TX 78572') # 33396
df['Address'] = df['Address'].str.replace('Rockwood Plastic Surgery Center: Gardner Glenn P MD Spokane, WA 99204', 'Rockwood Plastic Surgery Center: Gardner Glenn P MD, Spokane, WA 99204' ) # 50841

In [ ]:
df['Address'] = df['Address'].str.replace('  Cleveland, OH 44102, Cleveland, OH, 44111', ', Cleveland, OH 44102') # 10584
df['Address'] = df['Address'].str.replace('  Columbia, SC 29210 , Columbia, SC, 29210', ', Columbia, SC 29210 ') # 11668
df['Address'] = df['Address'].str.replace('  Las Vegas, NV 89118, Henderson, NV, 89014', ', Las Vegas, NV 89118' ) # 23334
df['Address'] = df['Address'].str.replace('  Naples, FL 34116, Naples, FL, 34116', ', Naples, FL 34116') # 34536
df['Address'] = df['Address'].str.replace('  Reno, NV 89521 , Reno, NV, 89521', ', Reno, NV 89521') # 42400
df['Address'] = df['Address'].str.replace('  Spartanburg, S.C. 29316, Spartanburg, SC, 29316', ', Spartanburg, S.C. 29316')
df['Address'] = df['Address'].str.replace('Lafayette, La 70503, Lafayette, LA 70507', 'Lafayette, LA 70503') # 27205

In [ ]:
df['Address'] = df['Address'].str.replace('Washington, DC, Washington, DC,', 'Washington, DC ')
df['Address'] = df['Address'].str.replace('New Orleans, LA, New Orleans, LA,', 'New Orleans, LA ')
df['Address'] = df['Address'].str.replace('Albuquerque, NM, Albuquerque, NM,', 'Albuquerque, NM ' )
df['Address'] = df['Address'].str.replace('Chelsea, MA, Boston, MA,', 'Chelsea, MA ' )
df['Address'] = df['Address'].str.replace('Franklin, TN, Franklin, TN,', 'Franklin, TN ')
df['Address'] = df['Address'].str.replace('Hales Corners, WI, Milwaukee, WI', 'Hales Corners, WI') # 50525
df['Address'] = df['Address'].str.replace('Albany NY', 'Albany, NY' )
df['Address'] = df['Address'].str.replace('Prineville OR', 'Prineville, OR')
df['Address'] = df['Address'].str.replace('Lancaster PA', 'Lancaster, PA')
df['Address'] = df['Address'].str.replace('Portland OR', 'Portland, OR')
df['Address'] = df['Address'].str.replace('San Diego CA', 'San Diego, CA')

In [ ]:
df['Address'] = df['Address'].str.replace('AL,', 'AL')
df['Address'] = df['Address'].str.replace('AK,', 'AK')
df['Address'] = df['Address'].str.replace('AR,', 'AR')
df['Address'] = df['Address'].str.replace('AZ,', 'AZ')
df['Address'] = df['Address'].str.replace('CA,', 'CA')
df['Address'] = df['Address'].str.replace('CO,', 'CO')
df['Address'] = df['Address'].str.replace('CT,', 'CT')
df['Address'] = df['Address'].str.replace('DE,', 'DE')
df['Address'] = df['Address'].str.replace('DC,', 'DC')
df['Address'] = df['Address'].str.replace('FL,', 'FL')
df['Address'] = df['Address'].str.replace('GA,', 'GA')
df['Address'] = df['Address'].str.replace('HI,', 'HI')
df['Address'] = df['Address'].str.replace('IA,', 'IA')
df['Address'] = df['Address'].str.replace('ID,', 'ID')
df['Address'] = df['Address'].str.replace('IL,', 'IL')
df['Address'] = df['Address'].str.replace('IN,', 'IN')
df['Address'] = df['Address'].str.replace('KS,', 'KS')
df['Address'] = df['Address'].str.replace('KY,', 'KY')
df['Address'] = df['Address'].str.replace('LA,', 'LA')
df['Address'] = df['Address'].str.replace('MA,', 'MA')
df['Address'] = df['Address'].str.replace('MD,', 'MD')
df['Address'] = df['Address'].str.replace('ME,', 'ME')
df['Address'] = df['Address'].str.replace('MI,', 'MI')
df['Address'] = df['Address'].str.replace('MN,', 'MN')
df['Address'] = df['Address'].str.replace('MO,', 'MO')
df['Address'] = df['Address'].str.replace('MS,', 'MS')
df['Address'] = df['Address'].str.replace('MT,', 'MT')
df['Address'] = df['Address'].str.replace('NC,', 'NC')
df['Address'] = df['Address'].str.replace('ND,', 'ND')
df['Address'] = df['Address'].str.replace('NH,', 'NH')
df['Address'] = df['Address'].str.replace('NJ,', 'NJ')
df['Address'] = df['Address'].str.replace('NM,', 'NM')
df['Address'] = df['Address'].str.replace('NV,', 'NV')
df['Address'] = df['Address'].str.replace('NY,', 'NY')
df['Address'] = df['Address'].str.replace('OH,', 'OH')
df['Address'] = df['Address'].str.replace('OK,', 'OK')
df['Address'] = df['Address'].str.replace('OR,', 'OR')
df['Address'] = df['Address'].str.replace('PA,', 'PA')
df['Address'] = df['Address'].str.replace('RI,', 'RI')
df['Address'] = df['Address'].str.replace('SC,', 'SC')
df['Address'] = df['Address'].str.replace('SD,', 'SD')
df['Address'] = df['Address'].str.replace('TN,', 'TN')
df['Address'] = df['Address'].str.replace('TX,', 'TX')
df['Address'] = df['Address'].str.replace('UT,', 'UT')
df['Address'] = df['Address'].str.replace('VA,', 'VA')
df['Address'] = df['Address'].str.replace('VT,', 'VT')
df['Address'] = df['Address'].str.replace('WA,', 'WA')
df['Address'] = df['Address'].str.replace('WI,', 'WI')
df['Address'] = df['Address'].str.replace('WV,', 'WV')
df['Address'] = df['Address'].str.replace('WY,', 'WY')

## Check - Recalculate Length

In [ ]:
df = df.drop(columns = ['City, State', 'Length'])

In [ ]:
df['City, State']  = df['Address'].str.split(',')

In [ ]:
# Checking string lengths after cleaning
df['Length'] = df['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 1, 3, 4 are the expected length 
df['Length'].unique()

In [ ]:
df.loc[df['Length'] == 2]

In [ ]:
df['Address'] = df['Address'].str.replace('600 PT PKWY Longview, TX 75604', '600 PT PKWY, Longview, TX 75604')
df['Address'] = df['Address'].str.replace('San Martin De Porres Clinic: Kallumadanda Vinnie MD Mission, TX 78572', 'San Martin De Porres Clinic: Kallumadanda Vinnie MD, Mission, TX 78572')
df['Address'] = df['Address'].str.replace('8800 WARREN H. ABERNATHY HWY Spartanburg, SC 29301', '8800 WARREN H. ABERNATHY HWY, Spartanburg, SC 29301')
df['Address'] = df['Address'].str.replace('Rockwood Plastic Surgery Center: Gardner Glenn P MD Spokane, WA 99204', 'Rockwood Plastic Surgery Center: Gardner Glenn P MD, Spokane, WA 99204')

## Check

In [ ]:
df = df.drop(columns = ['City, State', 'Length'])

In [ ]:
df['City, State']  = df['Address'].str.split(',')

In [ ]:
# Checking string lengths after cleaning
df['Length'] = df['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 1, 3, 4 are the expected length 
df['Length'].unique()

## Create new dataframe with rows with lengths 5, 6, and a specific row

### LENGTH 5

In [ ]:
length_5 = df.loc[df['Length'] == 5]

In [ ]:
length_5['City, State'] = length_5['City, State'].str[0:3]

In [ ]:
length_5['Address'] = length_5['City, State'].str.join(',')

In [ ]:
# Clean specific addr
length_5['Address'] = length_5['Address'].str.replace('2950 East 29th Street, Long Beach, CA', '2950 E 29th St, Long Beach, CA 90806')	
length_5['Address'] = length_5['Address'].str.replace('2585 Business Park Drive, Vista, 92081', '2585 Business Park Dr, Vista, CA 92081')
length_5['Address'] = length_5['Address'].str.replace('401 E Arrowood Rd, Charlotte, Nc', '401 E Arrowood Rd, Charlotte, NC 28217')

In [ ]:
length_5 = length_5.drop(columns = ['City, State', 'Length'])

In [ ]:
length_5['City, State']  = length_5['Address'].str.split(',')

In [ ]:
# Checking string lengths after cleaning
length_5['Length'] = length_5['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 1, 3, 4 are the expected length 
length_5['Length'].unique()

In [ ]:
print(length_5.shape)
length_5.head()

### LENGTH 6

In [ ]:
length_6 = df.loc[df['Length'] == 6]

In [ ]:
length_6['City, State'] = length_6['City, State'].str[0:4]

In [ ]:
length_6['Address'] = length_6['City, State'].str.join(',')

In [ ]:
length_6 = length_6.drop(columns = ['City, State', 'Length'])

In [ ]:
length_6['City, State']  = length_6['Address'].str.split(',')

In [ ]:
# Checking string lengths after cleaning
length_6['Length'] = length_6['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 1, 3, 4 are the expected length 
length_6['Length'].unique()

In [ ]:
print(length_6.shape)
length_6.head()

### Specific rows

In [ ]:
specific = df.loc[df['Unnamed: 0'] == 52126]

In [ ]:
specific['Address'] = specific['Address'].str[:-38]

In [ ]:
specific.head()

In [ ]:
specific = specific.drop(columns = ['City, State', 'Length'])

In [ ]:
specific['City, State']  = specific['Address'].str.split(',')

In [ ]:
# Checking string lengths after cleaning
specific['Length'] = specific['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 1, 3, 4 are the expected length 
specific['Length'].unique()

In [ ]:
print(specific.shape)
specific.head()

## Merge

In [ ]:
df = df.append(length_5)
df = df.append(length_6)
df = df.append(specific)

In [ ]:
print(df.shape)
df[df.duplicated(subset=['Unnamed: 0', 'School', 'Score', 'Rating', 'Type', 'Grades', 'Total Students Enrolled', 'Students per teacher', 'District'], keep=False)]

In [ ]:
df = df.drop_duplicates(subset=['Unnamed: 0', 'School', 'Score', 'Rating', 'Type', 'Grades', 'Total Students Enrolled', 'Students per teacher', 'District' ], keep='last')
print(df.shape)

## Check Length Again

In [ ]:
df = df.drop(columns = ['City, State', 'Length'])

In [ ]:
df['City, State']  = df['Address'].str.split(',')

In [ ]:
# Checking string lengths after cleaning
df['Length'] = df['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 1, 3, 4 are the expected length 
df['Length'].unique()

Managed to clean most of the addresses

## 3. Create City, State column

In [ ]:
df['City'] = df['City, State'].str[-2]

In [ ]:
df['State'] = df['City, State'].str[-1]
df['State'] = df['State'].str[:-6]

In [ ]:
df['State'] = df['State'].str.strip()
df['City'] = df['City'].str.strip()
df['Address'] = df['Address'].str.strip()

## Clean up empty state column

In [ ]:
df.loc[df['State'] == '']

In [ ]:
df['Address'] = df['Address'].str.replace('Colorado,', 'CO')
df['Address'] = df['Address'].str.replace('Lincoln, NE,', 'Lincoln, NE ')
df['Address'] = df['Address'].str.replace('Scottsbluff, NE, ', 'Scottsbluff, NE ')
df['Address'] = df['Address'].str.replace('5531 Cancha de Golf, Ste 202, Rancho', '5531 Cancha de Golf Ste 202, Rancho Santa Fe, CA 92091')

In [ ]:
df = df.drop(columns = ['City, State',	'Length'] )
df['City, State']  = df['Address'].str.split(',')

In [ ]:
# Checking string lengths after cleaning
df['Length'] = df['City, State'].apply(lambda x: len(x) if x != None else 0 )
# 1, 3, 4 are the expected length 
df['Length'].unique()

In [ ]:
print(df['State'].nunique())
df['State'].unique()

In [ ]:
df.loc[df['State'] == 'Unava']

In [ ]:
df.loc[df['State'] == 'S.C.']

In [ ]:
df.loc[df['State'] == 'Missouri']

In [ ]:
df.loc[df['State'] == 'New Jersey']

In [ ]:
df.loc[df['State'] == 'Nevada']

In [ ]:
df.loc[df['State'] == 'Oregon']

In [ ]:
df.loc[df['State'] == 'Washington']

In [ ]:
df.loc[df['State'] == 'OK.']

In [ ]:
df.loc[df['State'] == 'Ks']

In [ ]:
df.loc[df['State'] == 'La']

In [ ]:
df = df[df['State'] != 'Unava']

In [ ]:
# Clean Addresses
df['Address'] = df['Address'].str.replace('8740 Asheville Hwy, Spartanburg, S.C. 29316', '8740 Asheville Hwy, Spartanburg, SC 29316')
df['Address'] = df['Address'].str.replace('2900 Barberry Avenue, Columbia, Missouri 65202', '2900 Barberry Avenue, Columbia, MO 65202')
df['Address'] = df['Address'].str.replace('2572 John F Kennedy Boulevard, Jersey City, New Jersey 07304', '2572 John F Kennedy Boulevard, Jersey City, NJ 07304')
df['Address'] = df['Address'].str.replace('4656 N. Rancho Drive, Las Vegas, Nevada 89130', '4656 N. Rancho Drive, Las Vegas, NV 89130')
df['Address'] = df['Address'].str.replace('6415 SE Morrison street, Portland, Oregon 97215', '6415 SE Morrison street, Portland, OR 97215')
df['Address'] = df['Address'].str.replace('2120 21st Avenue South, Seattle, Washington 98144', '2120 21st Avenue South, Seattle, WA 98144')
df['Address'] = df['Address'].str.replace('4025 N. Hartford Ave., Tulsa, OK. 74106', '4025 N. Hartford Ave., Tulsa, OK 74106')
df['Address'] = df['Address'].str.replace('6355 Willowbrook St., Wichita, Ks 67208', '6355 Willowbrook St., Wichita, KS 67208')
df['Address'] = df['Address'].str.replace('1018 Harding Street, Suite 112, Lafayette, La 70503', '1018 Harding Street, Suite 112, Lafayette, LA 70503')

# Clean State
df['State'] = df['State'].str.replace('S.C.', 'SC')
df['State'] = df['State'].str.replace('Missouri', 'MO')
df['State'] = df['State'].str.replace('New Jersey', 'NJ')
df['State'] = df['State'].str.replace('Nevada', 'NV')
df['State'] = df['State'].str.replace('Oregon', 'OR')
df['State'] = df['State'].str.replace('Washington', 'WA')
df['State'] = df['State'].str.replace('OK.', 'OK')
df['State'] = df['State'].str.replace('Ks', 'KS')
df['State'] = df['State'].str.replace('La', 'LA')

In [ ]:
print(df['State'].nunique())
df['State'].unique()

In [ ]:
empty = df.loc[df['State'] == '']

In [ ]:
empty['City'] = empty['City, State'].str[-2]

In [ ]:
empty['State'] = empty['City, State'].str[-1]
empty['State'] = empty['State'].str[:-6]

In [ ]:
empty.head()

## Merge

In [ ]:
df = df.append(empty)

In [ ]:
df[df.duplicated(subset=['Unnamed: 0', 'School', 'Score', 'Rating', 'Type', 'Grades', 'Total Students Enrolled', 'Students per teacher', 'District'], keep=False)]

## Deleting duplicates

In [ ]:
df = df.drop_duplicates(subset=['Unnamed: 0', 'School', 'Score', 'Rating', 'Type', 'Grades', 'Total Students Enrolled', 'Students per teacher', 'District' ], keep='last')

In [ ]:
df = df.drop(columns = ['Unnamed: 0', 'City, State', 'Length'])

In [ ]:
print(df.shape)
df.head()

## Cleaning State Information

In [ ]:
print(df['State'].nunique())
df['State'].unique()

In [ ]:
df['State'] = df['State'].str.strip()
df['City'] = df['City'].str.strip()

In [ ]:
print(df['State'].nunique())
df['State'].unique()

## Cleaning City Information

In [ ]:
print(df['City'].nunique())
df.City.unique()

In [ ]:
df.loc[df['City'] == 'austin']

In [ ]:
df.loc[df['City'] == 'CARMEL']

In [ ]:
df.loc[df['City'] == 'COLORADO SPRINGS']

In [ ]:
df.loc[df['City'] == 'GREENSBORO']

In [ ]:
df.loc[df['City'] == 'SAN DIEGO']

In [ ]:
df.loc[df['City'] == 'NW  Washington']

In [ ]:
df.loc[df['City'] == 'Cherry Hill/Baltimore']

In [ ]:
df.loc[df['City'] == 'Suite 117 Phoenix']

In [ ]:
df.loc[df['City'] == 'milwaukee']

In [ ]:
df.loc[df['City'] == 'greeley']

In [ ]:
df.loc[df['City'] =='Oklahoma city']

In [ ]:
df['City'] = df['City'].str.replace('austin', 'Austin')
df['City'] = df['City'].str.replace('milwaukee', 'Milwaukee')
df['City'] = df['City'].str.replace('greeley', 'Greeley')
df['City'] = df['City'].str.replace('Oklahoma city', 'Oklahoma City')
df['City'] = df['City'].str.replace('CARMEL', 'Carmel')
df['City'] = df['City'].str.replace('COLORADO SPRINGS', 'Colorado Springs')
df['City'] = df['City'].str.replace('GREENSBORO', 'Greensboro')
df['City'] = df['City'].str.replace('SAN DIEGO', 'San Diego')
df['City'] = df['City'].str.replace('Cherry Hill/Baltimore', 'Cherry Hill')
df['City'] = df['City'].str.replace('Suite 117 Phoenix', ' Phoenix')
df['Address'] = df['Address'].str.replace('4314 clarno dr, austin, TX 78749', '4314 Clarno Dr, Austin, TX 78749')
df['Address'] = df['Address'].str.replace('Suite 117', 'Suite 117,')

## Fix NW Washington

In [ ]:
washington =  df.loc[df['City'] == 'NW  Washington']

In [ ]:
washington.head()

In [ ]:
washington['City'] = washington['City'].str[3:]

In [ ]:
washington['City'] = washington['City'].str.strip()

In [ ]:
washington.head()

In [ ]:
df = df[df['City'] != 'NW  Washington']

In [ ]:
df = df.append(washington)

In [ ]:
df.shape

## Filling NaNs and trying to clean a specific row

In [ ]:
df.isna().sum()

In [ ]:
df[['Total Students Enrolled', 'Students per teacher']] = df[['Total Students Enrolled', 'Students per teacher']].fillna(0)

In [ ]:
df['District'] = df['District'].fillna('Unavailable')

In [ ]:
df.isna().sum()

## Cleaning Extra Spaces

In [ ]:
df['School'] = df['School'].str.strip()
df['Score'] = df['Score'].str.strip()
df['Rating'] = df['Rating'].str.strip()
df['Address'] = df['Address'].str.strip()
df['Type'] = df['Type'].str.strip()
df['Grades'] = df['Grades'].str.strip()
df['Students per teacher'] = df['Students per teacher'].str.strip()
df['District'] = df['District'].str.strip()

In [ ]:
df.to_csv('schools_cleaned.csv', index = False)

In [ ]:
df.head()

### Separating into PK, K, Elementary, Middle, High School
- https://stackoverflow.com/questions/61877712/check-if-an-item-in-a-list-is-available-in-a-column-which-is-of-type-list

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('schools_cleaned.csv')

In [ ]:
print(df.shape)

In [ ]:
def parse_grades(grades_string):
    GRADES = ['PK', 'K', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'Ungraded']

    # Remove & for grades list
    grades_string = grades_string.replace(' &', ',')

    # Grades list - will add to separated grade string to grades
    grades = []

    # split strings based on ','
    string_list = grades_string.split(',')

    # look for sections of list with '-'
    dash = "-"
    for i in range(len(string_list)):
        clean_string = string_list[i].strip()
        if dash in clean_string:
            #  split using '-', loop and add to grades variable
            start_grade, end_grade = clean_string.split(dash)
            grades += GRADES[GRADES.index(start_grade) : GRADES.index(end_grade)+ 1]
        else:
            # add string to grades
            grades.append(clean_string)

    return grades

In [ ]:
print(df['Grades'].nunique())
unique_grades_combination  = df['Grades'].unique()

In [ ]:
def test_complete_dataset(unique_grades_combination):
    # create a loop that goes thru dataset and invoke parse_grades with each element
    separated_grades_list = []
    for i in unique_grades_combination:
        separated_grades_list.append(parse_grades(i))

    dictionary_grade_list = dict(zip(unique_grades_combination, separated_grades_list))

    return dictionary_grade_list

In [ ]:
dictionary = test_complete_dataset(unique_grades_combination)

In [ ]:
df['Clean_Grades'] = df['Grades'].map(dictionary)

In [ ]:
high_school = ['9', '10', '11', '12']
middle_school = ['6', '7', '8']
elementary = ['K', '1', '2', '3', '4', '5']
pre_k = ['PK']

In [ ]:
set1 = set(high_school)
df['High School (9-12)'] = [set1.issubset(set(row)) for row in df.Clean_Grades]

In [ ]:
set2 = set(middle_school)
df['Middle School (6-8)'] = [set2.issubset(set(row)) for row in df.Clean_Grades]

In [ ]:
set3 = set(elementary)
df['Elementary (K-5)'] = [set3.issubset(set(row)) for row in df.Clean_Grades]

In [ ]:
set4 = set(pre_k)
df['Pre-Kindergarten (PK)'] = [set4.issubset(set(row)) for row in df.Clean_Grades]

In [ ]:
df[['High School (9-12)', 'Middle School (6-8)', 'Elementary (K-5)', 'Pre-Kindergarten (PK)']] = df[['High School (9-12)', 'Middle School (6-8)', 'Elementary (K-5)', 'Pre-Kindergarten (PK)']] * 1

In [ ]:
df['Grades'] = df['Grades'].str.replace(' & Ungraded', '')
df = df.drop(columns = ['Clean_Grades'])

In [ ]:
df.head()

In [ ]:
df.to_csv('schools_cleaned.csv', index = False)

### Update School['Scores']
- change to int so data can be sorted by the value

In [ ]:
import pandas as pd
school = pd.read_csv('schools_cleaned.csv')

In [ ]:
school['Score'] = school['Score'].str.replace('/10', '')
school['Score'] = school['Score'].astype(int)

In [ ]:
school.to_csv('schools_cleaned.csv', index = False)

In [ ]:
# schools.to_csv('../../datasets_to_merge/labs2/csv/schools_cleaned.csv')