# Update Merged CSV
- include a column showing the % of total schools rated >= 8 
- add this to walk_score_df

## Import

In [1]:
import pandas as pd
import numpy as np
import os

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

/Users/jisha/.pyenv/versions/3.8.6/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
pwd = os.getcwd()

In [3]:
walk_score_df = pd.read_csv('csv/walk_score_df.csv')

In [4]:
walk_score_df.head()

,Unnamed: 0,City,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Income,IncomeErr,IncomePerCap,IncomePerCapErr,Poverty,ChildPoverty,Employed,Unemployment,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Professional,Service,Office,Construction,Production,Drive,Carpool,Transit,Walk,OtherTransp,WorkAtHome,MeanCommute,Rent,Year,Population,Violent crime,Murder and nonnegligent manslaughter,Rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson,Crime Rate per 1000,Crime Rating,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,Air Quality Index,Diversity Index,Nearest,lat,lon,Walk Score,Transit Score,Bike Score,Walkability,Public Transportation,Bikeability
0,0,Akron,OH,267782,129623,138086,1.9,67.4,23.2,0.2,3.6,0.0,3068406,504125,1732548,258991,19.6,26.2,126247,8.5,85.4,10.3,4.1,0.1,32.3,19.8,25.3,6.6,15.6,83.3,8.5,3.1,1.6,0.6,2.7,21.9,911,2020,197882,1782,27,181,328,1246,6568,1686,4305,577,65,42.20,High,274,203,68,3,0,0,0,107,63,43,0,0,132,0,142,0,Good,0.490241,"126,56,332,355,295",41.044852,-81.520048,46,32,46,Car Dependent,Some Transit,Somewhat Bikeable
1,1,Albany,GA,93421,43571,49835,2.8,29.2,65.2,0.1,0.9,0.0,1025141,199233,547674,89500,29.6,41.9,35704,16.2,71.9,23.7,4.1,0.1,30.7,21.4,23.1,8.1,16.3,78.1,12.4,1.8,2.3,0.7,4.3,19.1,814,2020,74989,790,12,32,165,581,3452,729,2489,234,17,56.57,High,244,182,60,2,0,0,0,114,63,37,0,0,0,0,244,0,Good,0.488771,"162,372,139,351,249",31.567783,-84.161923,25,0,40,Car Dependent,Minimal,Somewhat Bikeable
2,2,Albany,NY,147794,70664,77096,7.8,60.3,20.1,0.1,7.6,0.0,1917135,331452,1102265,158632,17.4,17.8,74293,6.6,71.6,24.3,3.9,0.0,42.9,20.5,25.2,4.6,6.6,70.4,7.2,10.1,7.3,1.7,2.9,18.9,1205,2020,97221,736,4,60,189,483,2919,445,2315,159,16,37.59,Medium,274,240,34,0,0,0,0,75,53,39,1,0,169,0,104,0,Good,0.584133,"319,358,336,145,79",42.652580,-73.756633,65,54,56,Somewhat Walkable,Good Transit,Bikeable
3,3,Albany,OR,61555,30378,31168,11.4,82.7,0.6,0.7,1.9,0.1,542299,75753,268177,35254,14.3,18.6,27721,8.2,78.5,15.9,5.4,0.1,33.3,18.4,22.7,9.9,15.5,79.0,10.7,0.3,2.6,2.0,5.1,20.8,1197,2020,54993,70,1,10,16,43,1467,128,1242,97,17,27.95,Medium,182,161,21,0,0,0,0,70,51,19,0,0,0,0,182,0,Good,0.302632,"29,132,230,383,202",44.627722,-123.094409,34,17,53,Car Dependent,Minimal,Bikeable
4,4,Albuquerque,NM,632240,309415,322758,50.4,38.5,2.5,4.0,2.4,0.1,7693803,1270581,4099669,581026,18.2,24.8,292907,6.8,74.5,19.6,5.6,0.2,39.8,20.0,24.0,8.3,7.7,80.2,9.1,1.8,1.8,2.5,4.3,21.7,1013,2020,561920,7596,84,486,1699,5327,26059,0,20634,5425,98,59.89,High,183,101,82,0,0,0,0,100,65,50,1,0,127,0,25,30,Good,0.594958,"359,258,386,360,127",35.106766,-106.629181,42,30,62,Car Dependent,Some Transit,Bikeable

In [5]:
schools_df = pd.read_csv('csv/schools_cleaned.csv')

In [6]:
schools_df.head()

,School,Score,Rating,Address,Type,Grades,Total Students Enrolled,Students per teacher,District,City,State,High School (9-12),Middle School (6-8),Elementary (K-5),Pre-Kindergarten (PK)
0,Akron Early College High School,10,Top rated,"225 South Main Street, Akron, OH 44308",Public district,9-12,384.0,34:1,Akron City School District,Akron,OH,1,0,0,0
1,Revere Middle School,9,Above average,"3195 Spring Valley Road, Akron, OH 44333",Public district,6-8,624.0,13:1,Revere Local School District,Akron,OH,0,1,0,0
2,Arrowhead Primary Elementary School,8,Above average,"1600 Raleigh Boulevard, Akron, OH 44321",Public district,K-4,345.0,20:1,Copley-Fairlawn City School District,Akron,OH,0,0,0,0
3,Manchester Middle School,8,Above average,"760 West Nimisila Road, Akron, OH 44319",Public district,5-8,387.0,16:1,Manchester Local School District,Akron,OH,0,1,0,0
4,Nolley Elementary School,8,Above average,"6285 Renninger Rd, Akron, OH 44319",Public district,K-4,483.0,17:1,Manchester Local School District,Akron,OH,0,0,0,0

## Create schools column
- separate school_df into subsets by city,state
- do value counts of private, public, and charter
- % of rated schools

### Create dictionary of grouped schools_df

In [7]:
schools_df['City,State'] = schools_df['City'] + ', ' + schools_df['State']

In [8]:
cities_list = list(schools_df['City,State'].unique())

In [9]:
def rnd_series(city):
    subset = schools_df[schools_df['City,State']== city]
    return subset

In [10]:
series = [rnd_series(city) for city in cities_list]

In [11]:
# using zip()
# to convert lists to dictionary
res = dict(zip(cities_list, series))

### Iterate through the dictionary
- save count of private, public, and charter schools
- schools within each rating

In [12]:
def get_type_counts():
    citylist = list(res.keys())
    
    model = []
    for city_name in citylist:
        for key, value in res.items():
            if city_name in key:
                df = value

                # create sum of types of schools
                type_values = df['Type'].value_counts(dropna=False).keys().tolist()
                type_counts = df['Type'].value_counts(dropna=False).tolist()
                type_dict = dict(zip(type_values, type_counts))
                types = type_dict

                # create summary of grades
                score_values = df['Score'].value_counts(dropna=False).keys().tolist()
                score_counts = df['Score'].value_counts(dropna=False).tolist()
                score_dict = dict(zip(score_values, score_counts))
                scores = score_dict
        
        model.append([city_name, types, scores])

    # Putting information into dataframe
    df = pd.DataFrame(model, columns = ["city_name", 'types', 'scores'])
    return df

In [13]:
df = get_type_counts()

### Separate dictionaries into multiple columns
- https://stackoverflow.com/questions/38231591/split-explode-a-column-of-dictionaries-into-separate-columns-with-pandas

### Types

In [14]:
df.types = df.types.fillna('{}')   # if the NaN is in a column of strings

In [15]:
# normalize the column of dictionaries and join it to df
df = df.join(pd.json_normalize(df.types))

### Scores

In [17]:
df.scores = df.scores.fillna('{}')   # if the NaN is in a column of strings

In [18]:
#normalize the column of dictionaries and join it to df
df = df.join(pd.json_normalize(df.scores))

In [20]:
df = df.fillna(0)

### Create a totals column
- total number of schools
- apply percentages (% private, public, charter)
- % of schools rated at 7 or above

### Percentage of Public, Private, and Charter

In [21]:
df['Total_Schools'] = df['Private'] + df['Public district'] + df['Public charter']

In [22]:
df['% Private'] = df['Private']/df['Total_Schools']

In [23]:
df['% Public'] = df['Public district']/df['Total_Schools']

In [24]:
df['% Charter'] = df['Public charter']/df['Total_Schools']

### Percentage of Schools Performing Above Average or Better

In [25]:
df['Above Average or Better'] = df[7] + df[8] + df[9] + df[10]

In [26]:
df['% Performing Above Average or Better'] = df['Above Average or Better']/df['Total_Schools']

In [27]:
df = df.replace([np.inf, -np.inf], np.nan)

In [28]:
df = df.fillna(0)

In [29]:
df[['% Private','% Public','% Charter','% Performing Above Average or Better']] = df[['% Private','% Public','% Charter','% Performing Above Average or Better']].round(2)

### Clean dataframe

### Separate City, State for merging

In [31]:
df[['City', 'State']] = df['city_name'].str.split(', ', expand=True)

In [32]:
df['City'] = df['City'].str.strip()
df['State'] = df['State'].str.strip()

### Specify columns to merge

In [33]:
df = df[['City','State', 'Total_Schools', 'Private', 'Public district', 'Public charter', '% Private', '% Public', '% Charter','Above Average or Better', '% Performing Above Average or Better']]

### Check dataframe

In [34]:
df.head()

,City,State,Private,Public district,Public charter,Total_Schools,% Private,% Public,% Charter,Above Average or Better,% Performing Above Average or Better
0,Akron,OH,130.0,60.0,18.0,208.0,0.62,0.29,0.09,10.0,0.05
1,Albany,GA,86.0,22.0,1.0,109.0,0.79,0.20,0.01,2.0,0.02
2,Albany,NY,117.0,27.0,7.0,151.0,0.77,0.18,0.05,8.0,0.05
3,Albany,OR,21.0,22.0,0.0,43.0,0.49,0.51,0.00,4.0,0.09
4,Albuquerque,NM,348.0,140.0,55.0,543.0,0.64,0.26,0.10,38.0,0.07